In [7]:
import pandas as pd

evaluations_df = pd.read_csv('soap_note_evaluations.csv')
evaluations_df['hallucination'] = evaluations_df['hallucination'].apply(lambda x: 1 if x == 'Yes' else 0)
evaluations_df.head()

,note_path,model_used,model_size,clinical_accuracy,completeness,conciseness,clarity,hallucination
0,notes/data/consults/pilon_fractures/20250328_2...,qwen2.5,3b,5.0,4.0,3.0,2.0,0
1,notes/data/consults/pilon_fractures/20250328_2...,deepseek-r1,1.5b,4.0,5.0,3.0,3.0,0
2,notes/data/consults/pilon_fractures/20250328_2...,llama3.2,3b,5.0,4.0,3.0,2.0,0
3,notes/data/consults/pilon_fractures/20250328_2...,gemma3,4b,5.0,4.0,3.0,2.0,0
4,notes/data/consults/pilon_fractures/20250328_2...,llama3.2,3b,5.0,4.0,3.0,2.0,0

In [8]:
evaluations_df.describe()

       clinical_accuracy  completeness  conciseness     clarity  hallucination
count         366.000000    365.000000   365.000000  365.000000          366.0
mean            4.672131      4.180822     3.071233    2.271233            0.0
std             0.475872      0.474821     0.287792    0.486488            0.0
min             3.000000      3.000000     3.000000    2.000000            0.0
25%             4.000000      4.000000     3.000000    2.000000            0.0
50%             5.000000      4.000000     3.000000    2.000000            0.0
75%             5.000000      4.000000     3.000000    3.000000            0.0
max             5.000000      5.000000     5.000000    4.000000            0.0

In [11]:
grouped_evaluations = evaluations_df.groupby(['model_used', 'model_size']).agg({
    'completeness': ['mean', 'std', 'min', 'max'],
    'conciseness': ['mean', 'std', 'min', 'max'],
    'hallucination': ['mean', 'std', 'min', 'max'],
}).reset_index()

grouped_evaluations

    model_used model_size completeness                     conciseness  \
                                  mean       std  min  max        mean
0  deepseek-r1       1.5b     4.282609  0.541185  3.0  5.0    3.097826
1       gemma3         4b     3.966667  0.409165  3.0  5.0    3.088889
2     llama3.2         3b     4.219780  0.442272  3.0  5.0    3.043956
3      qwen2.5         3b     4.250000  0.435385  4.0  5.0    3.054348

                      hallucination
        std  min  max          mean  std min max
0  0.333473  3.0  5.0           0.0  0.0   0   0
1  0.356148  3.0  5.0           0.0  0.0   0   0
2  0.206133  3.0  4.0           0.0  0.0   0   0
3  0.227945  3.0  4.0           0.0  0.0   0   0